{% extends 'base/base.html' %}

{% block container_div %}
     <div class="container">

     <div class="row">
         <h1> Hello, {{ student_id }} </h1>
     </div>
     <div class="row">

        <div class="col-xs-1"> </div>
        <div class="col-xs-4">
            <button class="btn btn-lg btn-primary btn-block" type="button">
                Meeting Room
            </button>
        </div>
        <div class="col-xs-2"> </div>

        <div class="col-xs-4">
            <button class="btn btn-lg btn-primary btn-block" type="button">
                Cabinet
            </button>

        </div>
        <div class="col-xs-1"> </div>

    </div>


     </div>
{% endblock %}